<div class="jumbotron text-center">
  <h1>Red Hat  | Public Sector</h1>
  <h2>Documentation Home</h2> 
</div>

<div class="col-xs-12" style="height:20px;"></div>



<div class="container">
  <div class="row">
    <div class="col-sm-3">
        <div class="box">
      <h3><a href="/cloud/" class="rh-link">Cloud</a></h3> 
      <p></p>
      <p></p>
    </div>
    </div>
    <div class="col-sm-3">
        <div class="box">
      <h3><a href="/platform/" class="rh-link">Platform</a></h3> 
      <p></p>
      <p></p>
    </div>
    </div>
    <div class="col-sm-3">
        <div class="box">
      <h3><a href="/workshops/" class="rh-link">Workshops</a></h3> 
      <p></p>
      <p></p>
    </div>
    </div>
    <div class="col-sm-3">
        <div class="box">
      <h3><a href="/quickstarts/" class="rh-link">Quickstarts</a></h3> 
      <p></p>
      <p></p>
    </div>
    </div>
  </div>
</div>