<!-- PatternFly -->
<script src="{{ "bower_components/patternfly/dist/js/patternfly.min.js" | absURL }}"></script>
<!-- jQuery -->
<script src="{{ "bower_components/jquery/dist/jquery.min.js" | absURL }}"></script>
<!-- Bootstrap -->
<script src="{{ "bower_components/bootstrap/dist/js/bootstrap.min.js" | absURL }}"></script>
<!-- Red Hat Custom JS -->
<script src="{{ "js/redhat.js" | absURL }}"></script>
<!-- clipboardjs -->
<script src="{{ "js/clipboard.min.js" | absURL }}"></script>
<!-- highlightjs source code -->
<script src="{{ "js/highlight.pack.js" | absURL }}"></script>
<script>hljs.initHighlightingOnLoad();</script>