<!-- START Accord CLI -->
<div class="panel-group" id="accordionAa" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingAaOne">
      <div class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordionAa" href="#collapseAaOne" aria-expanded="true" aria-controls="collapseAaOne">
          CLI Steps
        </a>
      </div>
    </div>
    <div id="collapseAaOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingAaOne">
      <div class="panel-body">
        <blockquote>
        <i class="fa fa-terminal"></i> Goto the terminal and type the following:
        </blockquote>
        
           {{ .Get 0 | highlight .Inner  }}
        
      </div>
    </div>
  </div>
 </div>
</div>
<!-- END Accord CLI -->